<h2><%= l(:button_edit) %> <%= link_to(@reminder.issue, {:controller => 'issues', :action => 'show', :id => @reminder.issue.id}) %></h2>

<%= render :partial => 'form', :locals => {:next_step => 'update', :reminder => @reminder} %>