<p><%= I18n.t(:mail_body_notification) %></p>

<p><%= link_to(h("#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}"), url_for(:controller => 'issues', :action => 'show', :id => @issue.id, :only_path => false)) %></p>

<p><%= link_to(h(I18n.t(:mail_body_reminder_edit_url)), url_for(:controller => 'rmp_reminders', :action => 'edit', :id => @reminder.id, :only_path => false)) %></p>
